.env
dependencies/
__pycache__/
*.py[cod]
*$py.class

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
hook/locations/disk_locations.yaml
/hook/locations/disk_locations.yaml
/hook/locations/disk_locations.yaml
